@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, -apple-system, system-ui, sans-serif;
  background: #fbf6ff;
  color: #000;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
